ul,li {
    padding: 0;
    margin: 0;
    list-style: none;

}

.container{
    display: flex;
    width: 1280px;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
}

.header{
    display: flex;
    width: 1280px;
    height: auto;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.ramda >p, span{
    width: 334px;
    height: 79px;
}

.ra{
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
}

.mda_js{
    color: #4BCAFF;
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu{
    display: flex;
    height: 69px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 1px;
}

.menu >li{
    text-align: center;
    font-size: 24px;
    line-height: 27px;
    padding: 23px 32px;
    background: #35444F;
    flex:auto;
    
}

a{
    text-decoration: none;
    color:aliceblue ;
}

.menu >li:first-child,.menu >li:last-child{
    color: #35444F;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 52px;
    padding-top: 48px;
}

.main_left{
    display: flex;
    width: 344px;
    height: 399px;
    flex-shrink: 0;
    border: 1px solid #000;
    flex-direction: column;
}

.left_menu_item{
    display: flex;
    padding: 26px 44px;
    color: #485863;
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.main_right{
    display: flex;
    width: 885px;
    height: auto;
    flex-direction: column;
    gap: 37px;
}

.image_frame{
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
}

.image{
    width: 320px;
    height: 381px;
}

.text_part{
    display: flex;
    gap: 13px;
    flex-direction: column;
}

.text{
    color: #2C2C2C;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
}

.footer{
    display: flex;
    flex-direction: row;
}

.footer_menu{
    display: flex;
    width: 1050px;
    height: 69px;
    flex-shrink: 0;
    background: rgba(99, 105, 110, 0.48);
    justify-content: start;
    align-items: center;
    margin: 54px 0px 30px 0;
    flex-direction: row;
}

.footer_menu_item{
    color: #0C1927;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 20px 0 20px 40px;
}

.copyright{
    display: flex;
    width: 230px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    justify-content: start;
    align-items: center;
    margin: 54px 0px 30px 0;
    color: #0C1927;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.menu >li:hover{
    background: #222F3A;
}

.left_menu_item:hover{
    background: #DBDBDB;
}

.footer_menu_item:hover{
    color: #3181A6;
    text-decoration: underline;
}

.image:hover{
    transform: scale(1.05);
}
.image:hover:hover {
    transform: scale(1.1);
  }